@font-face {
    font-family: 'fonts_title';
    src: url('../fonts/anicb___.ttf') format('truetype');
}
@font-face {
    font-family: 'fonts_text';
    src: url('../fonts/partybusiness.ttf') format('truetype');
}

@font-face {
    font-family: 'fonts_symbol';
    src: url('../fonts/tngan.ttf') format('truetype');
}

.bg-primary {
    background-image: url("../images/bg_light.png");
    color: black;
}

.bg-secondary {
    background-image: url("../images/bg_dark.png");
    color: white;
}

p {
    font-family: fonts_text;
}


hr {
    border-top: 4px solid #ff5f01!important;
    margin: 0 auto!important;
    padding: 0!important;
    width:50%;
    transform: skew(-25deg);
}

section {
    margin:0!important;
    padding:0!important;
}

.container {
    margin-top: 2rem;
    padding-bottom: 3rem;
    padding-top: 3rem;

}

footer, #mainNavbar {
    background-color: #ff5f01;
    font-family: fonts_title;
}

#mainNavbar .navBorder {
    border-right: white;
    border-style: solid;
    border-width: 0 2px 0 0;
}

footer a, #mainNavbar .nav-link{
    color:white!important;
}

.list {
    list-style-type: none;
}

#carouselExampleControls img {
    height: 40rem;
}

.carousel-caption {
    position: absolute;
    top: 15rem;
    font-family: fonts_text;

}

.carousel-caption h1 {
    font-size:6em;
}

.carousel-caption p {
    font-size:3em;
}

.carousel-caption p span{
    margin-right: 10rem;
}

section {
    padding : 2rem 0;
    margin: 0!important;
}

header {
    padding: 2rem 0;
    font-family: fonts_title;
}

header span {
    font-family: fonts_symbol;
    color: #ff5f01;
}

header h2 {
    font-size: 2em;
}

header h2 small{
    font-size: 0.5em;
    color: black;
}

nav {
    font-family: fonts_title;
}

nav .nav-pills {
    background-color: red!important;
}

nav .nav-link {
    color: grey!important;
}

nav .nav-link.active {
    color: #ff5f01!important;
    background-color: transparent!important;
    text-decoration: underline;
}

.card {
    border: solid black 2px!important;
}

.image-alive {
    opacity:0.5;
    width:100%;
    height:100%;
    padding:0;
    margin:0;
}

.image-dead {
    -webkit-filter: opacity(35%);filter: opacity(35%);
    width:100%;
    height:100%;
    padding:0;
    margin:0;
}

.reward, .dead {
    position: absolute;
    width: 70%;
    top: 0.5em;
    left: 50%;
    transform: translate(-50%);
    padding: 0.1em 0.2em 0.1em 0.2em;
    font-family: fonts_text;
}

.reward {
    background-color: #FFF;
    text-align:center;
    font-size: 2em;
    color:#000;
    border-radius: 10px;
    opacity: 0.8;
}

.dead {
    color: #ff5f01;
    background-color: transparent;
    font-size: 3em;
}

.card-body {
    font-family: fonts_text;
    font-size: 1.8em;
}


.nbCoins{
    color: #ff5f01;
}

.name {
    position: absolute;
    width:100%;
    top: 35%;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    color:#FFF;
    font-size: 4em;
    font-family: fonts_text;
    background-color: transparent;
}

.name-dead {
    text-decoration: line-through;
    text-decoration-color: #ff5f01;

}

.all:hover .image-alive{
    opacity: 1;
}

.all:hover .reward{
    display: none;
}

.all:hover .name-alive {
    top: 60%;
    font-size: 3em;
}

#reward p {
    font-size: 1.5em;
}

footer {
    padding: 2rem 0;
}

footer li {
    padding: 0.8em;
}

section .text {
    font-size: 1.2em;
    letter-spacing: 0.05em;
    word-spacing: 0.05em;
}

#reward p {
    padding-bottom: 2rem;
}

#reward button {
    color: #ff5f01;
    font-family: fonts_title;
    font-size: 1.2em;

}

.parent-skew {
    transform: skew(-25deg);
}

.skew {
    transform: skew(25deg);
}

#hunters .media-body {
    font-family: fonts_text;
}

#hunters .media-body p {
    font-size: 1.5em;
    padding: 0!important;
    margin: 0!important;
}

#hunters .media-body .display-1 {
    color: #ff5f01;
    font-size: 2em;
    line-height: 1.2em;
}

#hunters .media-body .underline {
    text-decoration: underline;

}

#hunters .parent-skew{
    background-image: url("../images/bg_dark.png");
    height: auto;
    width: 8rem;
}

#hunters .skew{
    color: #ff5f01;
    font-size: 1.5em;
    padding:0!important;
    margin:0!important;
}
